doctype
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(name="description" content="Gallery Before After")
      
    title= pageTitle
    
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/main.css")
    
  body
    .gallery
      .gallery__header
        .gallery__header-left
          .window-controls
            span.window-controls__item.close
            span.window-controls__item.resize
            span.window-controls__item.toggle
                  
          button.btn.btn_load + Load Photo
          
          span.gallery__text.text-green FIT
          span.gallery__text 100%
          
        .gallery__header-right
          .tools
            .tools__views
              a.tools__views-item(href="#")
                img(src="img/view.jpg", alt="")
              a.tools__views-item(href="#")
                img(src="img/ba.jpg", alt="")
            
            .tools__cut
              a.cut(href="#")
                img(src="img/cut.jpg", alt="")
                  
            .tools__btn-set
              a.upload(href="#")
                img(src="img/upload.jpg", alt="")
              a.fb.btn(href="#")
                i.fa.fa-facebook
              a.export.btn.btn_grey(href="#") Export
      
      .gallery__body
        .gallery__container
          .gallery__line
            
          .gallery__strip
            each item in items
              div(class="gallery__item " + item.active)
                .gallery__before
                  img(src=`${item.before}`)
                    
                .gallery__after
                  img(src=`${item.after}`)

      .gallery__footer
        .gallery__footer-tools
          button.gallery__toggle-btn
            i.fa.fa-angle-down(aria-hidden="true")
              
          .image-controls
            span.gallery__text Realisitic
            .image-controls__slider
              span
            span.gallery__text Vivid
            button.btn.btn_grey Apply to All
        
        .gallery__minis
          .gallery__film-strip
        
    
  script(src="js/main2.js")
