.window-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 100%;
  margin-right: 14px;
  &__item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    &.close {
      background-color: #f75e51;
    }
    &.toggle {
      background-color: #fbbe00;
    }
    &.resize {
      background-color: #42ca35;
    }
  }
}
